body{
    background-color: beige;
    margin: 0;
}
.mashina{
    margin: auto;
    width: 200px;
    height: 100px;
    position: absolute;
    animation: exat 7s linear;
}
@keyframes exat{
    0%{transform: translateX(0px);}
    87%{transform: translate(2000px, 0px)}
    88%{transform: translate(2000px, -200px)}
    89%{transform: translate(-200px, -200px)}
    90%{transform: translate(-200px, 0px)}
    100%{transform: translate(0px, 0px)}
}
@keyframes krutica {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(2000deg);}
}
.bodyk{
    width: 180px;
    height: 40px;
    background-color:cornflowerblue;
    position: absolute;
    z-index: 0;
    top: 50px;
    left: calc((200px - 180px) / 2);
    border-radius: 7px;
    border-top-left-radius: 0px;
    
}
.wheel1{
    width: 30px;
	height: 30px;
	background: black;
	border-radius: 15px;
    z-index: 10;
    position: absolute;
    top: 70px;  
    left: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: krutica linear 7s;
}
.wheel2{
    width: 30px;
	height: 30px;
	background: black;
	border-radius: 15px;
    z-index: 10;
    position: absolute;
    left: 140px; 
    top: 70px;  
    display: flex;
    align-items: center;
    justify-content: center;
    animation: krutica linear 7s;
}
.miniwheel{
    height: 20px;
    width: 20px;
    background-color: azure;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}
.microwheel{
    height: 20px;
    width: 2px;
    background-color: gray;
    position: absolute;
    left: 9px;
}
.krugo{
    height: 6px;
    width: 6px;
    background-color: darkgray;
    border-radius: 3px;
    position: absolute;
    left: 7px;
    top: 7px;
}
.kabina{
    height: 30px;
    width: 40px;
    background-color:cornflowerblue;
    position: absolute;
    left: 90px;
    top: 20px;
    border-top-left-radius: 5px;
}
.kabinaskl{
    height: 30px;
    width: 40px;
    position: absolute;
    top: 20px;
    left: 110px;
    border-top-right-radius: 10px;
    transform: skew(20deg);
    background-color: cornflowerblue;
}
.glass{
    height: 25px;
    width: 40px;
    background-color:lightskyblue;
    position: absolute;
    top: 25px;
    left: 95px;
    border-radius: 5px;
    z-index: 4;
}
.glassskl{
    height: 25px;
    width: 30px;
    background-color:lightskyblue;
    transform: skew(20deg);
    position: absolute;
    top: 25px;
    left: 115px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}
.blik1{
    height: 25px;
    width: 10px;
    background-color: white;
    transform: skew(20deg);
    position: absolute;
    top: 25px;
    left: 105px;
    z-index: 4;
}
.blik2{
    height: 25px;
    width: 5px;
    background-color: white;
    transform: skew(20deg);
    position: absolute;
    top: 25px;
    left: 120px;
    z-index: 4;
}
.bamper{
    width: 200px;
    height: 10px;
    background-color:#693e20;
    position: absolute;
    top: 80px;
    border-radius: 5px;
    z-index: 5;
}
.ten1{
    width: 130px;
    height: 10px;
    background-color: #1f528c;
    position: absolute;
    z-index: 6;
    top: 80px;
    left: 35px;
}
.polosochka{
    height: 5px;
    width: 85px;
    background-color: cornflowerblue;
    position: absolute;
    top: 50px;
    left: 5px;
}
.okolowheel1{
    width: 40px;
    height: 20px;
    background-color: #252222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 8;
    position: absolute;
    top: 70px;  
    left: 25px;
}
.okolowheel2{
    width: 40px;
    height: 20px;
    background-color: #252222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 8;
    position: absolute;
    top: 70px;  
    left: 135px;
}
.zadwheelob{
    width: 60px;
    height: 30px;
    background-color: #90b0ec;
    position: absolute;
    top: 60px; 
    left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}
.minizadwheelob{
    width: 50px;
    height: 25px;
    background-color: #1f528c;
    border-top-left-radius: 20px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 5px;
}
.light{
    height: 10px;
    width: 5px;
    background-color: yellow;
    position: absolute;
    left: 190px;
    top: 60px;
    border-top-right-radius: 3px;   
    border-bottom-right-radius: 3px;    
}
.kapot{
    background-color: cornflowerblue;
    height: 7px;
    width: 30px;
    position: absolute;
    top: 43px;
    left: 150px;
    border-top-right-radius: 20px 100% ;
}
.doorpolos{
    background-color: #65baeb;
    height: 40px;
    width: 1px;
    position: absolute;
    left: 95px;
    top: 45px;
    z-index: 4;
}
.podglass{
    background-color: #5278bd;
    width: 50px;
    height: 8px;
    z-index: 1;
    position: absolute;
    left: 95px;
    top: 45px;
}
.blikunderglass{
    background-color: #a7dcfa;
    height: 5px;
    width: 85px;
    left: 95px;
    top: 53px;
    z-index: 1;
    position: absolute;
    border-top-right-radius: 40px 100% ;
    border-top-left-radius: 5px;
}
.ruchka{
    height: 3px;
    width: 12px;
    background-color:#4a260d;
    position: absolute;
    left: 105px;
    top: 58px;
    border-radius: 6px;
    z-index: 2;
}
.bamperten{
    width: 200px;
    height: 4px;
    background-color:#4a260d;
    position: absolute;
    top: 86px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 5;
}
.zerkalo{
    z-index: 6;
    height: 13px;
    width: 6px;
    background-color:#4a260d;
    position: absolute;
    left: 141px;
    top: 40px;
    border-top-right-radius: 6px;
}
.korpuspolosa{
    height: 1px;
    width: 71px;
    background-color: #1f528c;
    position: absolute;
    top: 68px;
    left: 77px;
    z-index: 4;
}
.rightwheelob{
    width: 55px;
    height: 15px;
    background-color: #1f528c;
    position: absolute;
    top: 65px; 
    left: 135px;
    border-top-left-radius: 60%;
    z-index: 5;
}
.microten{
    background-color: #1f528c;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 73px;
    left: 10px;
}
.doroga{
    height: 50px;
    width: 1920px;
    background-color: grey;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.poloska{
    height: 12px;
    width: 100px;
    background-color: white;
}